@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    transition: all 0.3s ease-in-out;
    
}

html {
    scroll-behavior: smooth;
}


body {
    background: white;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    max-width: 1280px;
}

section {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}
.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 30px;
    height: 80vh;
    margin-top: 50px;
}

/* right box */
.contact-container .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 90%;
    padding: 0 30px;
}

.right .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: 100%;
    width: 95%;
    border-radius: 5px;
    background: #071740;
    color: white;
}

.right .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.right .logo .img {
    width: 100%;
    max-width: 150px;
}
.right .logo .img img {
    width: 100%;
}


.right .soc-icons {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right .soc-icons i {
    font-size: 30px;
}







/* left box */
.contact-container .left {
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 30px;
    height: 80%;
    padding: 30px;
    height: 100%;
}
.left .top-text {
    
}

/* inputs */
.inputs-container {
    height: 60%;
    width: 100%;
    gap: 3px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.left .input {
    width: 80%;
    border-bottom: 1px solid #071740;
}
.left label {

}
.left input {
    width: 100%;
    border: none;

    background-color: transparent;
    padding: 0;
    margin: 0;
    box-shadow: none;
    outline: none;
}
  
.left .submit-btn {
    width: 200px;
    height: 30px;
}
    
.left .submit-btn button {
    width: 100%;
    height: 100%;

    background: #071740;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    transition: 0.3s;
}
.left .submit-btn button:hover {
    background: white;
    color: #071740;
    border: 1px solid #071740;
}

@media screen and (max-width: 900px) {
    .contact-container {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
    
        padding: 30px;
        height: 80vh;
        margin-top: 70px;
    }

    .contact-container .right {
        flex: 1.5;
        order: 1;
        width: 90%;
        height: 40%;
    }
    .contact-container .left {
        flex: 1;
        order: 2;

        height: 60%;
    }
    .right .logo .img {
        max-width: 80px;
    }
    .right .soc-icons {
        width: 80px;
    }
    .right .soc-icons i {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {


    .contact-container .right {
        height: 70%;
        padding: 0;
    }
    
    .right .content {
        height: 100%;
        width: 100%;
        padding: 2px;
    }

    .left .submit-btn {
        width: 100px;
        height: 25px;
    }

}