@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    transition: all 0.3s ease-in-out;
    
}

html {
    scroll-behavior: smooth;
}

body {
    background: white;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    max-width: 1280px;
}

/* section {
    position: relative;
    width: calc(100% - 30px);
    top: 0;
    left: 0;
} */

.parallax-1 {
    background: url('../img/gallery/tranding1.PNG') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50vh;
}

.parallax-2 {
    background: url('../img/gallery/tranding2.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 30vh;
}

.parallax-3 {
    background: url('../img/gallery/tranding3.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 30vh;
}

.parallax-4 {
    background: url('../img/gallery/tranding4.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 30vh;
}

.parallax-5 {
    background: url('../img/gallery/tranding5.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 30vh;
}

.parallax-6 {
    background: url('../img/gallery/tranding6.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 30vh;
}

.parallax-7 {
    background: url('../img/gallery/tranding7.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 30vh;
}

.parallax-inner {
    padding: 10% 0;
}

body .reserve-btn {
    position: fixed;
    bottom: 50px;
    right: 80px;
}
body .reserve-btn a {
    text-decoration: none;
}
body .reserve-btn a h3 {
    padding: 8px 15px;
    color: #fff;
    background: #071740;
    border: 1px solid #fff;

    border-radius: 5px;
    transition: 0.5s;
}
body .reserve-btn a h3:hover {
    color: #071740;
    background: #fff;
    border: 1px solid #071740;
}

/* p {
    font-size: 16px;
    color: #555;
    text-align: justify;
    line-height: 30px;
    margin: 0 50px 40px;
} */

/* p:nth-of-type(2),
p:nth-of-type(3) {
    margin: 40px 50px;
} */

/* @media screen and (max-width:870px) {
    body {
        margin-top: 0;
    }
} */

@media screen and (max-width: 600px) {
    body .reserve-btn {
        bottom: 20px;
        right: 20px;
    }
}