/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
} */

.sidebar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 5px;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(to right, #071740, #132955);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    padding: 6px 14px;
    transition: .5s;
    z-index: 10;
}

.sidebar .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* logo */
.logo-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:  5px;
    padding:  20px 70px;
}
.logo-menu img {
    width: 100%;
    max-width: 70px;
}
.logo-menu .title {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: first center;
    gap: 2px;
}
/* .logo-menu .title p {
    font-size: 20px;
} */

.sidebar .toggle-btn {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    visibility: hidden;
    border-radius: 6px;
    line-height: 50px;
}
.sidebar.active .toggle-btn {
    left: 90%;
}

.list {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 2px;
}
.sidebar .list-items {
    list-style: none;
    width: 100%;
    height: 0;
    margin: 0;
    line-height: 40px;
}
.list .list-items a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 6px;
    white-space: nowrap;
    transition: .4s;
    padding: 0 10px;
}

.list .list-items a:hover,
.sidebar .toggle-btn:hover {
    background: rgba(255,255,255,0.2);
}
.list .list-items.active a {
    font-weight: 800;
}

.sidebar .list-items a i{
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    display: none;
}

.sidebar .link-name {
    opacity: 1;
    pointer-events: none;
    transition: opacity .3s;
}

/* button to show login */
.sidebar .show-login-btn {
    background: #fff;
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 20px -5px;
    box-sizing: border-box;
    color: #000;
    display: flex;
    font-size: 13px;
    justify-content: center;
    max-width: 100%;
    min-width: 70px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
    padding: 8px 0 8px 0;
    margin-left: 100px;
  }
  
  .sidebar .show-login-btn:hover {
    scale: 0.95
  }
  
  .sidebar .show-login-btn:active {
    background: #071740;
    color: #fff;
    scale: 0.9
  }

@media screen and (max-width: 1100px) {
    .sidebar .show-login-btn {
        margin-left: 50px;
    }
    /* .list .list-items a {
        font-size: 12px;
    } */
}

@media screen and (max-width: 980px) {
    .sidebar .list-items {
        list-style: none;
        width: 100%;
        height: 40px;
        margin: 5px 0;
        /* line-height: 32px; */
    }
    .sidebar .show-login-btn {
        padding: 10px 0 10px 0;
        min-width: 80px;
    }
    .logo-menu {
        gap:  5px;
        padding:  20px;
    }
}

@media screen and (max-width: 870px) {

    .sidebar {
        display: block;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 55px;
        height: 100%;
        border-radius: 0 10px 10px 0;
        padding: 6px 2px;
        transition: .5s;
    }
    .sidebar.active {
        width: 260px;
    }
    
    .sidebar .top-bar {
        margin-top: 20px;
    }
    /* logo */
    .logo-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding:  0px;
        color: white;
        display: none;
    }
    .logo-menu img {
        width: 100%;
        min-width: 70px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    .sidebar.active .logo-menu {
        display: contents;
    }
    .sidebar.active .logo-menu img {
        opacity: 1;
    }
    
    .sidebar .toggle-btn {
        font-size: 18px;
        visibility: visible;
    }
    
    .sidebar.active .logo-menu .toggle-btn {
        left: 90%;
    }
    
    .list {
        margin-top: 40px;
        margin-bottom: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }
    .sidebar .list-items {
        list-style: none;
        width: 100%;
        height: 50px;
        margin: 5px 0;
        line-height: 40px;
    }
    .sidebar .list-items.logout{
        position: fixed;
        bottom: 0;
    }
    
    .list .list-items a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        border-radius: 6px;
        white-space: nowrap;
        transition: .4s;
        padding: 0 10px;
        gap: 10px;
    }
    .list .list1.list-items.active a,
    .list .list2.list-items.active a,
    .list .list3.list-items.active a,
    .list .list4.list-items.active a,
    .list .list-items a:hover, 
    .sidebar .toggle-btn:hover {
        background: rgba(255,255,255,0.2);
    }
    
    .sidebar .list-items a i{
        font-size: 17px;
        min-width: 30px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        display: inline-block;
    }
    
    .sidebar .link-name {
        opacity: 0;
        pointer-events: none;
        transition: opacity .3s;
    }
    
    .sidebar.active .link-name {
        opacity: 1;
        pointer-events: auto;
        transition-delay: calc(.2s * var(--i));
    }

    /* button */
    .sidebar .show-login-btn {
        margin-left: 0;
        margin-top: 50px;
        padding: 10px 0 10px 0;
        min-width: 20px;
        opacity:  0;
        transition: all 0.1s ease-in-out;
    }

    .sidebar.active .show-login-btn {
        opacity:  1;
        min-width: 220px;
    }

}

