* {
    padding: 0;
    margin: 0;
}

.facilities-container {
    padding: 20px 10px;
    width: 90%;
    margin: auto;

    /* background-color: green; */
}
.facilities-container.border {
    border-bottom: 2px solid #000;
}

.facilities-container .box {
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: pink; */
}

.facilities-container .box .img {
    flex: 1;

    height: 230px;
    padding: 0px 20px 0 20px;
    /* background-color: tomato; */
}

.facilities-container .box .img img {
    width: 100%;
    max-height: 230px;

    border-radius: 5px;
    object-fit: cover;
}

.facilities-container .box .text {
    flex: 1.2;

    height:230px;
    padding: 20px 20px 0 20px;
    /* background-color: orange; */
}
.facilities-container .box .text h2 {
    font-weight: 100;
}

.box.two .img {
    order: 1;
}

section#one {
    margin-top: 100px;
}
/* top box */
.facilities-container .top-package-title {
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px 30px 0 30px;

    background-color: white;
}
.facilities-container .top-package-title p {
    border-bottom: 3px solid #000;
    padding: 30px 0;
}

.facilities-container .top-package-title .details-text {
    align-self: center;
    font-weight: 500;
    margin: 20px;
}

.facility-btn a {
    text-decoration: none;
}
.facility-btn a h3{
    width: 100%;
    max-width: 300px;

    padding: 8px 4px;
    font-weight: 500;
    color: #071740;
    border: 2px solid #071740;
    border-radius: 5px;
    transition: 0.1s;
}
.facility-btn a:active h3{
    color: #fff;
    border: 2px solid #fff;
    background: #071740;
}

@media screen and (max-width: 668px) {

    .facilities-container .box {
        flex-direction: column;
    }
    .box.two .img {
        order: 0;
    }
    .facilities-container .box .img {
        width: 95%;
        flex: 1;
    }
    .facility-btn a h3{
        max-width: 230px;
    }

}