
/* section2 */
.view2 {
    display: flex;
}

.view2 .container1 {
    margin: 10px 5px 10px 20px;
    padding: 10px 5px 10px 20px;
    width: 50%;
    height: calc(90vh - 130px);
    position: sticky;
    top: 130px;

    background: url(../img/gallery/img1.png);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.view2 .container2 {
    margin: 10px 10px 10px 5px;
    padding: 10px 10px 10px 5px;
    width: 50%;
}

.view2 .container2 .c2-text{
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.view2 .container2 .c2-text h3 {
    margin: 40px 0 10px 0;
}
.view2 .container2 .c2-text p {
    text-align: justify;
}

/* title */
.view2 .container2 .c2-text .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    margin: 10px 0 40px 0;
}

.view2 .images .content{
    /* display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 10px;background: rgba(0,0,0,0.1);
    border-radius: 5px;
}
.view2 .images h3 {
    margin-bottom: 30px;
}

.images .content img{
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
} 
.images .content .text {
    width: 100%;
    max-width: 200px;
    padding: 5px;
}

section.view3 {
    height: 100vh;
}

@media screen and (max-width: 860px) {

    /* .view2 */
    /* .view2 .container1 {
        height: calc(50vh - 130px);
        top: 50px;
    } */
    .view2 .container1 {
        height: 70vh;
        top: 10px;
    }
}
@media screen and (max-width: 800px) {
    /* .view2 */
    .view2 .container1 {
        height: 50vh;
        top: 10px;
    }
    .view2 .images .content{
        flex-direction: column;
    }
    
}

@media screen and (max-width: 700px) {
   
    /* container1 */
    .view2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .view2 .container1 {
        width: 90%;
        position: relative;
    }

    /* container2 */
    .view2 .container2 {
        width: 90%;
    }
    .view2 .images .content{
        flex-direction: row;
    }
    /* sticky image */
    /* .view2 .container1 .img {
        height: 400px;
    } */
}

@media screen and (max-width: 500px) {
    .view2 .container1 .img {
        width: 90%;
        height: 95%;
        object-fit: cover;
        border-radius: 5px;
    }

    /* container2 */
    .view2 .images .content{
        flex-direction: column;
    }

}
