
.view4 {
    display: flex;
    justify-content: center;
    height: 500px;
}

.container-package1  {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 800px;

    /* background: green; */
}
.container-package1 .content {
    background-color: #071740;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 80%;
    height: 90%;
    padding: 10px;
}

.container-package2 {
    flex: 2;

    display: flex;
    justify-content: center;
    align-items: center;    

    /* background-color: yellow; */
}
.container-package2 .img1,
.container-package2 .img2,
.container-package2 .map {
    width: 100%;
    max-width: 90%;
    min-width: 200px;

    height: 100%;
    max-height: 94%;
    border-radius: 5px;
}
.container-package2 .img1 {
    background: url(../img/gallery/img1.png);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    background-position: center;
}
.container-package2 .img2 {
    background: url(../img/gallery/img1.png);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
    background-position: center;
}

.view4 .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-align: center;
}
.view4 .logo img{
    width: 100%;
    max-width: 150px;
    min-width: 80px;
}

.content .discover-btn button {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    padding: 5px ;
    border-radius: 3px;
    cursor: pointer;
}
.content .discover-btn button:hover {
    background-color: #fff;
    color: #071740;
    border: 1px solid #071740;
}
iframe {
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 500px;
    min-width: 200px;
}

@media screen and (max-width: 900px) {
    .view4{
        flex-direction: column;
        height: 70vh;
    }

    .container-package2 .img1,
    .container-package2 .img2,
    .container-package2 .map {
        max-width: 80%;

        height: 100%;
        max-height: 94%;
        border-radius: 5px;
    }
    .view4 .logo img{
        width: 80%;
        max-width: 100px;
    }
    .container-package1 {
        order: 2;
        flex: 1;
    }
    .container-package2 {
        order: 1;
        flex: 1;
    }
}

@media screen and (max-width: 700px) {
    .view4{
        flex-direction: column;
        height: 50vh;
    }

    .view4 .logo img{
        width: 80%;
        max-width: 50px;
        min-width: 30px;
    }

    .content .discover-btn button {
        font-size: 8px;
    }
}
/* @media screen and (max-width: 1200px) {
    .container-package1 .content {
        max-width: 70%;
        height: 600px;
    }

    .view4{
        height:80vh;
    }
}

@media screen and (max-width: 810px) {
    .view4{
        height:100vh;
    }
    .container-package1  {
        width: 100%;
    }
    .container-package1 .content {
        max-width: 70%;
        height: 400px;
    }
    .container-package2  {
        width: 100%;
    }
    .view4 .logo .img{
        max-width: 100px;
    }
    .container-package1 .content .pack-title{
        font-size: 16px;
    }
    .container-package1 .content .logo p {
        font-size: 12px;
    }
    .content .discover-btn button {
        padding: 5px 10px;
        border-radius: 2px;
        font-size: 10px;
    }
    .view4 {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .container-package2 .img {
        max-width: 55%;
    }
    iframe {
        width: 500px;
        height: 500px;
    }

} */

/* @media screen and (max-width: 600px) {
    .view4{
        height:80vh;
    }
    .container-package1 .content {
        max-width: 70%;
        height: 300px;
    }
    .container-package2 .img {
        max-width: 60%;
    }
}
@media screen and (max-width: 428px) {
    .view4{
        height:60vh;
    }
    iframe {
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width: 390px) {

    .view4{
        height:70vh;
    }
}

@media screen and (max-height: 800px) {
    .view4{
        height:100vh;
    }
} */